<div class="add_material">
    <div class="am-body">
            <div class="am-info">
                <header>Строй</header>
            </div>
            <div class="am-form" ng-if="vm.form == 1">
                <header class="am-form-title">Регистрация</header>
                <form>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                <input ng-model="vm.mail" class="uk-input" type="text" placeholder="Электронная почта">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input ng-model="vm.name" class="uk-input" type="text" placeholder="Имя пользователя">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                                <input ng-model="vm.phone" class="uk-input" type="text" placeholder="Номер телефона">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input ng-model="vm.password" class="uk-input" type="password" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input ng-model="vm.confirm_password"  class="uk-input" type="password" placeholder="Подвердите пароль">
                                </div>
                        </div>
                        <div class="am-button" ng-click="vm.form = 2;">Далее</div>
                </form>
            </div>
            <div class="am-form" ng-if="vm.form == 2">
                    <header class="am-form-title">О компании</header>
                    <form >  
                            <div class="uk-margin">
                                    <label class="uk-form-label white fw-300 mb-50" for="form-stacked-select">Чем занимаеться ваша компания</label>
                                    <div class="uk-form-controls">
                                        <select ng-model="vm.company_type" class="uk-select" id="form-stacked-select">
                                            <option>Продажей строительных материалов</option>
                                            <option>Строительством</option>
                                        </select>
                                    </div>
                                </div>
                            <div class="uk-margin">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: google"></span>
                                        <input ng-model="vm.company_name" class="uk-input" type="text" placeholder="Название компании">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input ng-model="vm.company_mail" class="uk-input" type="text" placeholder="Почта компании">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                                    <input ng-model="vm.company_phone" class="uk-input" type="text" placeholder="Номер компании">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: location"></span>
                                    <input ng-model="vm.company_location" class="uk-input" type="text" placeholder="Адрес компании">
                                </div>
                            </div>

                            <div class="am-button" ng-click="vm.signUp()">Завершить</div>
                    </form>
                </div>
    </div>
</div>