<section class="admin  animated fadeIn go-out-2">
    <section class="create">
        <form class="create-form" ng-submit="vm.createPost()">
            <div></div><input ng-model="vm.name" type="text" class="create-name uk-input" placeholder="Имя"><br>
            <input type="checkbox" value="New" ng-model="vm.new">New <br>
            <input type="number"  min="-99" max="-1" value="New" ng-model="vm.sale" class="create-name uk-input">
            <div>Type</div>
            <br>
            <input type="radio" value="Wear" ng-model="vm.type">Wear <br>
            <input type="radio" value="Accessories" ng-model="vm.type">Accessories <br>
            <input type="radio" value="Jewelery" ng-model="vm.type">Jewelery <br>
            <input type="radio" value="Footwear" ng-model="vm.type"> Footwear <br>
            <br>
            <div>Gender</div><input ng-model="vm.gender" type="radio" value="Women" class="create-item">Women<br>
            <input ng-model="vm.gender" type="radio" value="Men" class="create-item">Men<br>
            <input ng-model="vm.gender" type="radio" value="Both" class="create-item">Both
            <br>
            <div>Cost</div><input ng-model="vm.cost" type="number" class="create-cost create-item"><br>
            <div>Company</div><input ng-model="vm.company" type="text" class="create-company create-item"><br>
            <div>Rating</div><input  ng-model="vm.rating" type="number" class="create-rating create-item" min="0" max="5"><br>
            <div>Image</div><input  file-model="vm.file" type="file" class="create-image create-item"><br>
            <input type="submit" value="Create" class="create-submit create-item"><br>
        </form>
    </section>
    <section class="create">
        <h1>Admin Panel</h1>
        <h1>Filter</h1>
        <div>Type</div>
        <input type="radio" value="Wear" ng-model="vm.AdminValue">Wear <br>
        <input type="radio" value="Accessories" ng-model="vm.AdminValue">Accessories <br>
        <input type="radio" value="Jewelery" ng-model="vm.AdminValue">Jewelery <br>
        <input type="radio" value="Footwear" ng-model="vm.AdminValue">Footwear<br>
        <div>Gender</div>
        <form action="">
            <input type="radio" value="Men" ng-model="vm.GenderValue">Men<br>
            <input type="radio" value="Women" ng-model="vm.GenderValue">Women<br>
            <input type="radio" value="Both" ng-model="vm.GenderValue">Both<br>
        </form>
        </section>
        <section class="create users-search">
            <h1>Users</h1>
            <section ng-repeat="user in vm.users" class="users">
                <section>Name:{{user.name}} Email:{{user.email}} ID:{{user._id}}</section>
            </section>
        </section>
        <section class="men-content">
            <section class="men-content-item" ng-if="post.type==vm.AdminValue && post.gender==vm.GenderValue" ng-repeat="post in vm.posts">
                <div class="men-icon-img"><img ng-src="{{post.image}}" ui-sref="post({id: post._id})"></div>
                <div class="men-icon-text">{{post.name}} <span>{{post.company}}</span></div>
                <div class="men-icon-cost">{{post.cost}}$</div>
                <button class="deletePost" ng-click="vm.removePost(post._id,$index)">Delete</button>
            </section>
        </section>
</section>