<div class="cabinet lr-sh">
    <div class="cabinet-inner">
        <div class="cabinet-left">
            <div class="cabinet-title">
                <a class="uk-icon-button" uk-icon="user"></a>
                <span>{{user.name}}</span>
            </div>
            <div class="am-button сm-button" ng-click="vm.cabinet(5)">Подать обьевление</div>
            <div class="cabinet-menu">
                <li class="cm-item" ng-click="vm.cabinet(1)"><span>Профиль</span><span class="cm-count">+2</span></li>
                <li class="cm-item" ng-click="vm.cabinet(2)"><span>Мои обьевления</span><span class="cm-count"></span></li>
                <li class="cm-item" ng-click="vm.cabinet(3)"><span>Мои обьевления</span><span class="cm-count"></span></li>
                <li class="cm-item" ng-click="vm.cabinet(4)"><span>Мои обьевления</span><span class="cm-count"></span></li>
            </div>
        </div>
        <div class="cabinet-right">
            <div class="cr-profile" ng-if="vm.cabinetValue == 1">
                <div class="cr-title">Профиль</div>
                <div class="crp-info">
                    <div class="crp-name"><header>ФИО</header>{{user.name}}</div>
                    <div class="crp-company"><header>Компания</header>{{user.company}}</div>
                    <div class="crp-location"><header>Телефон</header>{{user.phones[0]}}</div>
                    <div class="crp-location"><header>Почта</header>{{user.email}}</div>
                    <div class="crp-location"><header>Адрес</header>{{user.country}} {{user.location}}</div>
                </div>
                <div class="crp-img"></div>
            </div>
            <div class="cr-ad" ng-if="vm.cabinetValue == 5">
                    <div class="cr-title">Подать Объявление</div>
                    <div class="cra-left">
                        <form class="cra-form">
                            <div class="cra-item">
                                <label class="uk-form-label" for="form-stacked-select">Название объявление</label>
                                <input type="text" class="uk-input">
                            </div> 
                            <div class="cra-item">
                                    <label class="uk-form-label" for="form-stacked-select">Select</label>
                                <input type="text" class="uk-input">
                            </div> 
                            <div class="cra-item">
                                    <label class="uk-form-label" for="form-stacked-select">Select</label>
                                <input type="text" class="uk-input">
                            </div> 
                            <div class="cra-item">
                                    <label class="uk-form-label" for="form-stacked-select">Select</label>
                                <input type="text" class="uk-input">
                            </div> 
                            <div class="cra-item">
                                            <label class="uk-form-label" for="form-stacked-select">Select</label>
                                            <div class="uk-form-controls">
                                                <select class="uk-select" id="form-stacked-select" ng-change="showHello('hello');">
                                                    <option ng-repeat="type in vm.type">{{type[0]}}</option>
                                                </select>
                                            </div>
                            </div>
                            <div class="cra-item">
                                            <label class="uk-form-label" for="form-stacked-select">Select</label>
                                            <div class="uk-form-controls">
                                                <select class="uk-select" id="form-stacked-select">
                                                    <option ng-repeat="type in vm.type[0][1]">{{type[1]}}</option>
                                                </select>
                                            </div>
                            </div>

                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>