<div>
        <section class="top-header" >
                <section class="logo" ui-sref="home">
                    <div class="logo-img">Stroy</div>
                </section>
                <section class="menu-bar">
                    <li class="menu-icon" ui-sref="home">Строительные материалы</li>
                    <li class="menu-icon" ui-sref="men">Строительные компании</li>
                    <li class="menu-icon" ui-sref="women">Архетектура</li>
                    <li class="menu-icon" ui-sref="women">Блог</li>
                </section>
                <section class="sign">
                    <li class="sign-item sign-in" ui-sref="registration" ng-if="!session"><span uk-icon="cart"></span></li>
                    <li class="sign-item sign-in" ng-click="vm.showModal = true" ng-if="!session">Войти</li>
                    <li class="sign-item sign-in" ng-click="vm.logout()" ng-if="session"><span class="yellow" uk-icon="icon:sign-out"></span></li>
                    <li class="sign-item sign-in" ng-click="vm.showUser = true" ng-if="session">
                        <span class="yellow" uk-icon="icon:user"></span>
                        <div uk-dropdown="pos: bottom-justify;mode:click">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-active uk-nav-header">{{user.name}}</li>
                                    <li><a></a>{{user.company}}</li>
                                    <li class="uk-nav-header" ui-sref="cabinet">Мой кабинет</li>
                                    <li><a>Item</a></li>
                                    <li><a>Item</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a ng-click="vm.logout()">Выйти</a></li>
                                </ul>
                            </div>
                    </li>
                    <li class="sign-item sign-up" ng-click="vm.addMaterial()">Подать обьявление</li>
                </section>
        </section>

        
        <div class="header-modal" ng-if="vm.showModal" >
            <div class="hm-inner" >
                <div class="hm-close"><span uk-icon="icon: close; ratio: 1.5" ng-click="vm.showModal = false"></span></div>
                <div class="hm-title">Войти</div>
                <form class="hm-form">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                <input ng-model="vm.mail" class="uk-input" type="text" placeholder="Электронная почта">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input ng-model="vm.password" class="uk-input" type="password" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="am-button" ng-click="vm.login();vm.showModal = false">Войти</div>
                        <div class="uk-margin">
                            <span class="fw-300">Еще не зарешистрированы?</span>
                            <div class="hm-link" ui-sref="registration" ng-click="vm.showModal = false">Зарегестрироваться</div>
                        </div>    
                </form>
            </div>
        </div>
</div>
