<section class="home go-out-2   animated fadeIn ">
    <section class="home-top-content">
        <section class="home-slider" ui-sref="new"><p>New</p></section>
    <section class="home-men-women">
            <section class="home-women" ui-sref="women"><p>New arrivals</p>Women's</section>
            <section class="home-men" ui-sref="men"><p>New arrivals</p>Men's</section>
        </section>
    </section>
    <section class="home-middle-content">
        <h1 ui-sref="new">Holiday Highlights</h1>

        <section class="home-new-arrivals">
            <section class="home-new-arrivals-icon" ng-repeat="post in vm.posts | limitTo:4">
                <div class="home-new-arrivals-icon-img"><img ng-src="{{post.image}}" ui-sref="post({id: post._id})"></div>
                <div class="home-new-arrivals-icon-text">{{post.name}} <span>{{post.company}}</span></div>
                <div class="home-new-arrivals-icon-cost">${{post.cost}}</div>
            </section>
        </section>
    </section>
    <section class="home-content-3">
        <section class="home-gift" ui-sref="accessories"><p>Send a gift</p></section>
        <section class="home-deal" ui-sref="sale"><p>Deal of the day</p></section>
    </section>
    <section class="home-middle-content">
        <h1 ui-sref="sale">On Sale</h1>

        <section class="home-new-arrivals">
            <section class="home-new-arrivals-icon" ng-repeat="post in vm.posts | limitTo:4">
                <div class="new-sale"><section class="new-item" ng-if="post.new=='true'">New</section><section class="sale-per">{{post.sale}}</section></div>
                <div class="home-new-arrivals-icon-img"><img ng-src="{{post.image}}" ui-sref="post({id: post._id})"></div>
                <div class="home-new-arrivals-icon-text">{{post.name}} <span>{{post.company}}</span></div>
                <div class="home-new-arrivals-icon-cost">{{post.cost}}$</div>
            </section>
        </section>
    </section>
</section>
