<section class="post-body animated fadeIn go-out-2">
    <div class="left-post-content">    <div class="new-sale"><section class="new-item" ng-if="post.new=='true'">New</section><section class="sale-per">{{post.sale}}</section></div>
        <img ng-src="{{vm.post.image}}" alt="" class="post-img"></div>
    <div class="right-post-content">
        <div class="post-name">{{vm.post.name}}</div>
        <div class="post-id">Style Number - {{vm.post._id}}</div>
        <div class="post-cost">${{vm.post.cost}}</div>
        <div class="add-to-cart animated infinite pulse" ng-click="vm.AddCart()">Add to cart</div>
    </div>
</section>