<section class="profile-body">
    <section class="profile-left">
        Name<section class="name-content">{{vm.profile.name}}</section>
        Email<section class="name-content">{{vm.profile.email}}</section>
        ID<section class="name-content">{{vm.profile._id}}</section>
    </section>
    <section class="profile-right">

    </section>
</section>