<section class="sale  animated fadeIn">
    <section class="men-content-item" ng-if="post.sale[0]=='-'"  ng-repeat="post in vm.posts">
        <div class="new-sale"><section class="new-item" ng-if="post.new=='true'">New</section><section class="sale-per">{{post.sale}}</section></div>
        <div class="men-icon-img"><img ng-src="{{post.image}}" ui-sref="post({id: post._id})"></div>
        <div class="men-icon-text">{{post.name}} <span>{{post.company}}</span></div>
        <div class="men-icon-cost">{{post.cost}}$</div>
    </section>
</section>