<div class="add_material">
        <div class="am-body">
                <div class="am-info">
                    <header>Строй</header>
                </div>
                <div class="am-form">
                    <header class="am-form-title">Регистрация</header>
                    <form>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input ng-model="vm.mail" class="uk-input" type="text" placeholder="Электронная почта">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input ng-model="vm.name" class="uk-input" type="text" placeholder="Имя пользователя">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                                    <input ng-model="vm.phone" class="uk-input" type="text" placeholder="Номер телефона">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input ng-model="vm.password" class="uk-input" type="password" placeholder="Пароль">
                                </div>
                            </div>
                            <div class="uk-margin">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                        <input ng-model="vm.confirm_password"  class="uk-input" type="password" placeholder="Подвердите пароль">
                                    </div>
                            </div>
                            <div class="am-button" ng-click="vm.signUp();">Завершить</div>
                    </form>
                </div>
        </div>
    </div>