<!DOCTYPE html>
<html ng-app="decode">
        <head>
            <base href="/">
            <meta name="fragment" content="!">
            <meta name="robots" content="index,follow">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="If=edge">
            <meta name="viewport" content="width=device-width",initial-scale=1>

            <title>Стройте дом вместе с Stroy.kz</title>
        
            <link rel="icon" href="images/logo.png"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="style/all.css"/>
        </head>
<body>
    <!-- <section class="client-panel">
            <section class="cart">
                <p>0</p>
            </section>
            <section class="search"></section>
            <section class="profile-link" ng-if="!session" ui-sref="registration"></section>
            <a href="user/{{user_id}}"><section class="profile" ng-if="session"></section></a>
            <section class="log-out" ng-click="vm.logout()" ng-if="session"></section>
            <section class="arrow-up animated pulse infinite"></section>
        </section> -->
        <!-- <form class="main-sign-in" ng-if="vm.ShowSignIn" ng-submit="vm.login()">
            <div>Email :</div> <input ng-model="vm.email" type="text" class="sign-in-input">
            <div>Password :</div> <input ng-model="vm.password" type="text" class="sign-in-input">
            <br><input type="submit" value="Sign in" class="submit">
            <span ui-sref="registration" class="submit">Sign Up</span>
        </form> -->
    <section class="main-body" ng-controller="MainBodyCtrl as vm">
        <div ng-include src="'views/header.html'"></div>
    </section>

    
    <!--ui-router-->
        <ui-view></ui-view>
    <!--ui-router-->

    <!-- <section class="footer animated fadeIn" >
        <section class="footer-blocks">
            <section class="footer-top">Information</section>
            <section class="footer-links">Price Drop</section>
            <section class="footer-links">New Products</section>
            <section class="footer-links">Best Sales</section>
            <section class="footer-links">Contact us</section>
            <section class="footer-links">Site Map</section>
            <section class="footer-links">Stores</section>
        </section>
        <section class="footer-blocks">
            <section class="footer-top">Pages</section>
            <section class="footer-links">Price Drop</section>
            <section class="footer-links">New Products</section>
            <section class="footer-links">Best Sales</section>
            <section class="footer-links">Contact us</section>
            <section class="footer-links">Site Map</section>
            <section class="footer-links">Stores</section>
        </section>
        <section class="footer-blocks">
            <section class="footer-top">Your Account</section>
            <section class="footer-links">Price Drop</section>
            <section class="footer-links">New Products</section>
            <section class="footer-links">Best Sales</section>
            <section class="footer-links">Contact us</section>
            <section class="footer-links">Site Map</section>
            <section class="footer-links">Stores</section>
        </section>
        <section class="footer-blocks">
            <section class="footer-top">Follow us</section>
            <section class="footer-links">Price Drop</section>
            <section class="footer-links">New Products</section>
            <section class="footer-links">Best Sales</section>
            <section class="footer-links">Contact us</section>
            <section class="footer-links">Site Map</section>
            <section class="footer-links">Stores</section>
        </section>
    </section> -->

</body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="js/vendor/ng.min.js"></script>
        <script src="js/vendor/uikit.min.js"></script>
        <script src="js/vendor/uikit-icons.min.js"></script>
        <script src="js/vendor/ng-route.min.js"></script>
        <script src="js/vendor/ng-cookies.min.js"></script>
        <script src="js/vendor/ng-infinite-scroll.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
            <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="app.js"></script>
        <script src="js/controllers/ctrl.start.js"></script>
        <script src="js/controllers/ctrl.header.js"></script>
        <script src="js/controllers/ctrl.admin.js"></script>
        <script src="js/controllers/ctrl.profile.js"></script>
        <script src="js/views/ctrl.home.js"></script>
        <script src="js/views/ctrl.signup.js"></script>
        <script src="js/views/ctrl.cabinet.js"></script>
        <script src="js/views/ctrl.post.js"></script>
        <script src="js/views/ctrl.men.js"></script>
        <script src="js/views/ctrl.sale.js"></script>
        <script src="js/views/ctrl.add_material.js"></script>
</html>