.add_material{
    min-width: 1080px;
    width: 100%;
    padding: 75px;
    background: #F5C775;
    min-height: calc(100vh - 75px);
    color: #363739;
}
.am-body{
    width: 100%;
    height:100%;
    background: #ffffff;
    display: flex;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.am-info{
    width: 50%;
    min-height: 100%;
    /* background-color: #363739; */
    color: #fff;
    display: flex;
    padding: 100px;
}
.am-info>header{
    margin: 0 auto;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    height: 75%;
    color: #323232;
}
.am-form{
    width: 50%;
    height: 100%;
    background-color: #363739;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    padding: 100px;
}
.am-form-inner{
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: row wrap;
}
.am-form-title{
    width: 100%;
    height: 25%;
    color: #fff;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
.am-form-name{
    width: 100%;
}
.uk-input{
    font-weight: 100;
}
.am-button{
    color: #363739;
    background: #FDC566;
    padding: 15px 20px;
    border-radius: 100px;
    transition: .3s ease-in-out;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.am-button:hover{
    transform: scale(1.01)
}
.white{
    color: #fff!important;
}
.fw-300{
    font-weight:ZZZZ 300;
}
.mb-50{
    margin-bottom: 50px!important;
}