.admin{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    height: auto;
}
.create{
    width: 33.3%;
    height: 500px;
    border: 1px solid #262626;
    background-color: lightgray;
}
.create-form{
    height: 300px;
    padding: 5%;
}
.create-item{
    margin: 2% 0;
    outline: none;
    border-bottom: 1px solid #262626;
}
.create-image{
    width: 100%;
    height: 20px;
}
.create-submit:active{
    background-color: #FFDF1B;
}
.create-submit{
 width: 100%;
}
.create>.list{
    outline: 1px solid #262626;
}
.deletePost{
    width: 100%;
    height: 5%;
}
.users{
    font-size: 0.7em;
    text-align: left;
}
.users-search{
    text-align: center;
}
