.lr-sh{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus{
    border-color: #FDC566;
}
.cabinet{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 7%;
    color: #fff;
}
.cabinet-inner{
    background: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: row nowrap;
}
.cabinet-left{
    width: 20%;
    height: 100%;
    background: #353638;
    /* background-color: #FDC566; */
    border-right: 1px solid #FDC566;
    padding: 25px;
}
.cabinet-title{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    /* border-bottom: 1px solid #FDC566;s */
    padding: 0 10px;
}
.cm-button{
    text-align: center!important;
}
.cm-item{
    outline: none;
    list-style: none;
    padding: 20px 10px;
    border-bottom: 1px solid #FDC566;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 300;
}
.cm-item:hover{
    color: #FDC566
}
.cm-count{
    color: #FDC566;
    font-weight: 300;
}
.cabinet-right{
    width: 80%;
    height: 100%;
    /* background-color: #FDC566; */
    padding:25px;
    color: #353638
}
.cr-profile{
    width: 100%;
    height: 100%;
}
.cr-title{
    width: 100%;
    font-size: 30px;
    text-transform: uppercase
}
.crp-info{
    font-size: 25px;
    padding: 30px 0;
}
.crp-info>div{
    padding: 10px 0;
    font-weight: 300;
}
.crp-info>div>header{
    color: #FDC566;
    font-size:15px
}
.cr-ad{
    width: 100%;
    height: 100%;
}
.cra-left{
    width: 50%;
    padding: 20px 0;
}