.home{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
}
.home-top-content{
    width:100%;
    height:400px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 2%;
}
.home-slider{
    width: 64%;
    height: 100%;
    margin: 2%;
    background-image: url('../../images/S18PS_BOSS_Holiday_ACC_021_sRGB.jpg');
    background-size: 100%;
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    transition: .4s;
    color: white;
}
.home-slider:hover{
    cursor: pointer;
}
.home-slider>p{
    width: 100%;
    height: 100%;
    padding-top: 20%;
    transition: .4s;
    z-index: 2;
    color: #888888;
}
.home-slider>p:hover{
    background-color: rgba(0,0,0,0.5);
    transition: .4s;
    color: #FFDF1B;
 }
.home-slider:hover{
    background-size: 105%;
    transition: .4s linear;
    transition-timing-function: ease-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.home-men-women{
    width: 30%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 3em;
    cursor: pointer;
}
.home-women{
    width: 100%;
    height: 49%;
    background-image: url('../../images/women-1.jpg');
    background-size: 100%;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    color:  lightgray;
    transition: .5s;
}
.home-women>p{
    font-size: 0.5em;
    margin-top: 20%;
}
.home-men{
    width: 100%;
    height: 49%;
    background-image: url('../../images/men-1.jpg');
    background-size: 100%;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    color:  lightgray;
    transition: .5s;
}
.home-men>p{
    font-size: 0.5em;
    margin-top: 20%;
}
.home-men>p:hover{
}
.home-men:hover{
    color: #FFDF1B;
    background-size: 110%;
    transition: .5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.home-women:hover{
    color: #FFDF1B;
    background-size: 110%;
    transition: .5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.home-sale{
    width: 32%;
    height: 15%;
    background-color: #262626;
    margin-left: 1%;
    color: lightgray;
    font-size: 2em;
    text-align: center;
    padding-top: 6%;
    transition: .5s;
}
.home-middle-content{
    width: 100%;
    height: 450px;
    margin: 2%;
    text-transform: uppercase;
    padding: 2%;
}
.home-middle-content>h1{
    font-size: 1.5em;
    padding: 1%;
    border-bottom: 1px solid darkgrey;
    color: #262626;
}
.home-new-arrivals{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.home-new-arrivals-icon-text>span{
    font-size: 0.8em;
    color: #777777;
    text-transform: uppercase;
    cursor: pointer;
}
.home-new-arrivals-icon-text{
    color: darkgrey;
    margin-top: 5px;
}
.home-new-arrivals-icon:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.81);
}
.home-new-arrivals-icon{
    height: 100%;
    width: 25%;
    text-transform: none;
    text-align: center;
    cursor: pointer;
}
.home-new-arrivals-icon-img>img:hover{
}
.home-new-arrivals-icon-img>img{
    width: 100%;
    height: 100%;
}
.home-new-arrivals-icon-img:hover{
}
.home-new-arrivals-icon-img{
    height: 30%;
    width: 100%;
    text-align: center;
    padding: 5%;
}
.home-new-arrivals-icon-cost{
    color: black;
}
.home-direction{
    float: right;
    margin: 0 4%;
}
.home-content-3{
    width: 100%;
    height: 200px;
    display: flex;
    margin: 2%;
    color: #E9E9E9;
    font-size:2.7em;
    text-transform: uppercase;
    text-align: center;
    justify-content: space-around;
}
.home-gift{
    width: 48%;
    height: 100%;
    background-image: url("../../images/deal.jpg");
    background-position-y: 60%;
    background-size: 100%;
    transition: .3s;
}
.home-deal{
    width: 48%;
    height: 100%;
    background-image: url("../../images/gift.jpg");
    background-position-y: 80%;
    background-size: 100%;
    transition: .3s;
}
.home-gift>p , .home-deal>p{
    width: 100%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.58);
    padding-top: 20%;
}
.home-deal:hover,.home-gift:hover{
    transition: .3s;
    cursor: pointer;
    color: #FFDF1B;
    font-size: 110%;
    transform: scale(1.05);
}
