.sale{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    height: auto;
}