.men-page{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
}
.men-content{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 1000px;
}
.men-content-item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.men-content-item{
    height: auto;
    width: 20%;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    border:0.1px solid #E9E9E9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}
.men-icon-img{
    width: 100%;
    height: 75%;
    text-align: center;
    padding: 5%;
}
.men-icon-img>img{
    width: 100%;
    transition: .3s;
}

.men-icon-text>span{
    font-size: 0.8em;
    color: #777777;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}
.men-icon-text:hover{
    transform: scale(1.1);
}
.men-icon-text{
    color: darkgrey;
    transition: .3s;
    margin: 2%;
}
.men-icon-cost{
    font-size: 0.9em;
    color: #262626;
}
.filter-type{
    width: 100%;
    height: 30px;
    background-color: #262626;
}
.new-sale{
    width: 100%;
    height: 5%;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    padding: 1%;
}
.new-item{
    width: 50%;
    height: 100%;
    color: #888888;
    text-decoration: underline;
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
}
.sale-per{
    width: 50%;
    height: 100%;
    text-align: right;
    padding-top: 5%;
    padding-right: 5%;
    font-weight: bold;
}