.post-body{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    height: 430px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    color: black;
    padding: 2%;
}
.left-post-content{
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.post-img{
    height: 100%;
    text-align: center;
}
.right-post-content{
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 5% 10%;
}
.post-name{
    font-size: 2.2em;
    margin: 10% 0;
}
.post-id{
    font-size: 0.6em;
    margin: 10% 0;
}
.post-cost{
    font-size: 1.5em;
    font-weight: bold;
    margin: 10% 0;
}
.add-to-cart{
    width: 60%;
    text-align: center;
    height: 40px;
    background-color: #888888;
    padding-top: 4%;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #262626;
    cursor: pointer;
}
:visited{
    color: #FFDF1B;
}