.sign-up-header{
    height: 100px;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    margin: 3% 0;
}
.sign-up-content{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.login{
    width: 45%;
    height: 340px;
    background-color: white;
    margin: 2.5%;
    padding: 5%;
}
.login>h1{
    font-size: x-large;
    color: #262626;
    font-weight: 100;
    margin-bottom: 5%;
}
.login-input{
    width: 100%;
    background-color: white;
    height: 30px;
    margin: 3% 0;
    outline: none;
    border-bottom: 1px solid lightgray;
    color: #888888;
    padding: 0;
    font-size: 25px;
}
.login-submit:hover{
    color: #FFDF1B;
}
.login-submit{
    width: 50%;
    height: 30px;
    background-color: #262626;
    color: white;
    transition: .4s;
}