.start-body{
    width: 100%;
    background-image: url('\\images/start-back.png');
    background-position: center center;
    background-attachment: fixed;
    height: auto;
    z-index: 1;
}
.start-top{
    width: 100%;
    height: 100vh;
}
.start-logo{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:15%;
    font-size: 1000%;
    color: darkgrey;
    box-sizing: border-box;
}
.start-logo>img{
    width: 50%;
}
.downArrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
}
.downArrow:hover{
    cursor: pointer;
}
.start-middle{
    width: 100%;
    height: 100vh;
    padding: 10vh 15%;
    box-sizing: border-box;
    display: flex;
    color: darkgrey;
    text-transform: uppercase;
    font-size: 1.3em;
}
.start-middle.ng-hide {
    transition:0.5s linear all;
    opacity:0;
}
.start-left{
    width: 47.5%;
    height: 90vh;
    display: flex;
    margin-right: 2.5%;
}
.start-intro{
    width: 100%;
    height: 100%;
    padding: 5%;
}
.start-right{
    width: 47.5%;
    margin-left: 2.5%;
    background-color: rgba(0,0,0,0.5);
    padding: 5% 10%;
    z-index: 2;
}
.start-registration-form{

}
.start-registration-form>.start-form-input{
    background-color: rgba(0,0,0,0);
    height: 5vh;
    color: lightgray;
    border-bottom: 1px solid darkgrey;
    outline: none;
    margin-bottom: 5vh;
}
.start-form-input::placeholder{
    color: lightgray;
}
.start-form-submit{
    opacity: 100;
    background-color: rgba(0,0,0,0);
    color: darkgrey;
    border: 1px solid darkgrey;
    height: 8vh;
    width: 100%;
}
.start-form-submit:hover{
    background-color: darkgrey;
    color: black;
    transition:.5s;
}
.start-form-submit.ng-enter{
    opacity: 1;
}