.top-header{
    width: 100%;
    min-width: 1080px;
    height: 75px;
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    background: #353638;
    font-size: 13px;
    padding: 0 7%;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.logo{
    width:10%;
    height: 100%;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    color: #FDC566;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}
.logo-img{
    width: 70%;
    align-self: center;
    margin: 0 auto
}
.menu-bar{
    z-index: 1;
    width: 65%;
    height: 100%;
    display: flex;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;  
    color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    transition: .5s;
    font-weight: 100;
}
.menu-icon{
    cursor: pointer;
}
.menu-icon:hover{
    color: #FDC566;
}
.sign{
    z-index: 1;
    width: 25%;
    height: 100%;
    display: flex;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #000;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    transition: .5s;
    font-weight: 600;
}
.sign-item{
    cursor: pointer;
}
.sign-item:hover{
    color: #FDC566;
}
.sign>.sign-in{
    color: #FDC566;
}
.sign>.sign-up{
    color: #363739;
    background: #FDC566;
    padding: 15px 20px;
    border-radius: 100px;
    transition: .3s ease-in-out;
}
.sign>.sign-up:hover{
    transform: scale(1.01)
}
.cart{
    width: 100%;
    height: 96px;
    background-image: url("../../images/cart.svg");
    box-sizing: border-box;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #E9E9E9;
}
.cart>p{
    width: 100%;
    height: 100%;
    padding-top: 14%;
    font-weight: 900;
    padding-left: 70%;
    font-size: 1.2em;
}
.client-panel{
    width: 8%;
    height: 100%;
    position: fixed;
    float: right;
    top: 0;
    right: 0;
}

.search{
    width: 100%;
    height: 96px;
    background-image: url("../../images/search.svg");
    box-sizing: border-box;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #E9E9E9;
}

.profile-link{
    width: 100%;
    height: 96px;
    background-image: url("../../images/avatar.svg");
    box-sizing: border-box;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #E9E9E9;
}
.profile{
    width: 100%;
    height: 96px;
    background-image: url("../../images/profile.svg");
    box-sizing: border-box;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #E9E9E9;
}
.profile>a{
    width: 100%;
    height: 100%;
}
.arrow-up{
    width: 100%;
    height: 200px;
    background-image: url("../../images/up-arrow.png");
    box-sizing: border-box;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: none;
}
.main-sign-in>.sign-in-input{
    background-color: transparent;
    border-bottom: 1px solid #262626;
    color: #262626;
    outline: none;
}
.main-sign-in>.submit{
    background-color: lightgray;
    height: 30px;
    color: #262626;
    margin: 2%;
}
.main-sign-in{
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10;
    font-size: 1.3em;
    right: 0;
    top: 96%;
    padding: 1%;
    color: #262626;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.log-out{
    width: 100%;
    height: 96px;
    background-image: url("../../images/exit.svg");
    box-sizing: border-box;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #E9E9E9;
}
.footer{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #262626;
    z-index: 1;
}

.go-out.ng-enter, .go-out.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.go-out.ng-enter,
.go-out.ng-leave.ng-leave-active {
    opacity:0;
    right: 0;
}

.go-out.ng-leave,
.go-out.ng-enter.ng-enter-active {
    opacity:1;
    right: 8%;
}
.main-profile{
    height: 500px;
    width: 300px;
    background-color: white;
    position: fixed;
    z-index: 10;
    font-size: 1.3em;
    right: 8%;
    top: 96px;
    padding: 1%;
    color: #262626;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.go-out-2.ng-enter, .go-out-2.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.go-out-2.ng-enter,
.go-out-2.ng-leave.ng-leave-active {
    opacity:0;
}

.go-out-2.ng-leave,
.go-out-2.ng-enter.ng-enter-active {
    opacity:1;
}
.footer-blocks{
    width: 25%;
    height: 100%;
    padding: 5% 2%;
    text-transform: uppercase;
    color: #E9E9E9;
}
.footer-top{
    font-weight: bold;
    font-size: 1.5em;
}
.footer-links{
    font-size: 1em;
    margin: 3% 0;
}
.profile-body{
    width: 84.6%;
    box-sizing: border-box;
    margin:0.5vh 8% 0 7.38%;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    z-index: 1;
    height: 400px;
    padding: 3%;
}
.profile-left{
    width: 30%;
    height: 100%;
}
.name-content{
    color: #262626;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 10%;
}
.profile-right{
    width: 70%;
    height: 100%;
}

.header-modal{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 700;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.75);
}
.hm-inner{
    background: #fff;
    width: 25%;
    margin: auto;
    box-shadow: 0 25px 50px -8px rgba(0,0,0,0.1);
    text-align: center;
}
.hm-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase
}
.hm-close{
    height: 50px;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
}
.hm-close>span{
    cursor: pointer;
}
.hm-form{
    padding: 0 50px;
}
.hm-link{
    color: #FDC566;
    margin-top: 10px ;
    cursor: pointer;
}
.hm-link:hover{
    color: rgb(223, 174, 91);
}